.item-box
{
  border: solid;
  display: inline-block;
  height: 372px;
  width: 300px;
}

.ipad-img {
  background-image: url(../img/ipad.jpg);
}

.iphones-img {
  background-image: url(../img/iphones.jpg);
}

.headphones-img {
  background-image: url(../img/headphones.jpg);
}
