.item-box
{
  border: solid;
  display: inline-block;
  height: 372px;
  width: 300px;
  position: relative;
}

.ipad-img {
  background-image: url(../img/ipad.jpg);
}

.iphones-img {
  background-image: url(../img/iphones.jpg);
}

.headphones-img {
  background-image: url(../img/headphones.jpg);
}

.percentage-box {
  border: solid;
  position: absolute;
  right: 0;
}

.green-back {
  background-color: green;
}

.red-back {
  background-color: red;
}

.heart-box {
  position: absolute;
  height: 40px;
  width: 40px;
  bottom: 0px;
  left: 130px;
  z-index: -1;
}

.item-box:hover > .heart-box {
  z-index: 1;
}
